<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprovantes Abastecimento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comprovantes.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/logopref.png') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container-fluid">
            <button class="btn btn-outline-light me-2" href="#" onclick="location.reload()">Central de Abastecimento</button>
            <div class="d-flex">
                <a href="index.html" class="btn btn-outline-light me-2">SAIR</a>
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <a href="templates/almoxarifado.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">ALMOXARIFADO</h5>
                            <p class="card-text">54 abastecimentos</p>
                            <img src="image/estoque.png" alt="Ícone 1" class="icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="templates/casaprojetos.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">CASA DE PROJETOS</h5>
                            <p class="card-text">67 abastecimentos</p>
                            <img src="image/planta-da-casa.png" alt="Ícone 2" class="icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="templates/comunicacao.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">COMUNICAÇÃO</h5>
                            <p class="card-text">32 abastecimentos</p>
                            <img src="image/820508.png" alt="Ícone 3" class="icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="templates/dee.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">DEE</h5>
                            <p class="card-text">89 abastecimentos</p>
                            <img src="image/4914553.png" alt="Ícone 4" class="icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="templates/engenharia1.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">ENGENHARIA - MAN.</h5>
                            <p class="card-text">45 abastecimentos</p>
                            <img src="image/1077147.png" alt="Ícone 5" class="icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="templates/engenharia2.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">ENGENHARIA - PROJ.</h5>
                            <p class="card-text">45 abastecimentos</p>
                            <img src="image/4538996.png" alt="Ícone 5" class="icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="templates/gabinete.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">GABINETE</h5>
                            <p class="card-text">12 abastecimentos</p>
                            <img src="image/2541979.png" alt="Ícone 5" class="icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="templates/informatica.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">INFORMÁTICA</h5>
                            <p class="card-text">87 abastecimentos</p>
                            <img src="image/78951.png" alt="Ícone 5" class="icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="templates/logistica.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">LOGÍSTICA</h5>
                            <p class="card-text">110 abastecimentos</p>
                            <img src="image/4394181.png" alt="Ícone 5" class="icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="templates/nucleo.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">NÚCLEO</h5>
                            <p class="card-text">31 abastecimentos</p>
                            <img src="image/29302.png" alt="Ícone 5" class="icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="templates/nutrição.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">NUTRIÇÃO</h5>
                            <p class="card-text">78 abastecimentos</p>
                            <img src="image/649371.png" alt="Ícone 5" class="icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="templates/supervisao.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">SUPERVISÃO</h5>
                            <p class="card-text">47 abastecimentos</p>
                            <img src="image/65000.png" alt="Ícone 5" class="icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="templates/vigilancia.html" class="card-link">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">VIGILÂNCIA</h5>
                            <p class="card-text">90 abastecimentos</p>
                            <img src="image/139787.png" alt="Ícone 5" class="icon">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
